@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Coming Soon', cursive;
}
body {background-color: #2E4053;
    }
h1 {
    font-size: 40px;
    color: white;
    margin-top: 20px;
}
h2{
    color: white;

}
.parrafo {
    font-size: 25px;
    color: white;
}
.catalogo{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.card{
    display: flex;
    
    padding: 10px;
    width: 100%;
    max-width: 350px;
    gap: 10px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    box-shadow: 5px 5px rgb(106, 38, 231);
    
}
.imgCard{
    object-fit: cover;
    width: 300px;
    height: 200px;
}
.tituloCard{
    font-size: 30px;
    color: white;
}
.generoCard{
    font-size: 20px;
    color: white;
}
.anioCard{
    font-size: 20px;
    color: white;

}
.info{
    padding: 1rem;
    font-size: 1rem;

}
.estiloTarjetas{
    display: grid;
    grid-template-columns: repeat(4,1fr)
}



form{
    display: flex;
    color: white;
    margin: 25px;
}

.form-control{
    width: 50%;
}